<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CrmConnection" connectionString="Url=https://dsmallpluginrelease1.crm4.dynamics.com; Username=crm-admin@dsmallpluginrelease1.onmicrosoft.com; Password=DSm4llPlug1nRC1; DeviceID=kdquvfslfdc3lbcyvkjxvya7; DevicePassword=AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA258dry0OdU6T39I6mHF9SQAAAAACAAAAAAAQZgAAAAEAACAAAABpTVuWW2+6eBoGLcR+SApfo6/kciduamislijV1AFGvgAAAAAOgAAAAAIAACAAAAA/FT/7GQNUIOJ+/HPKvhb2Wfq+FgljaKU9z0UiKmOmliAAAAAqdI68nPfPntroRr+BpZ97j/YhvuF6c+d4uYZCh1SuNUAAAABvOBYO5R25WGux2qv5Ij/wNEKlf3sMvYfCXG7EcECv/i42QosA8yMoNA3jThSEm15jmCjVW9eiLTaznZV0Epkj"/>
  </connectionStrings>
</configuration>